html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: #000000;
  font-family: cursive;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}

.profile-img {
  /* border: 2px solid white; */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
  margin-top: 7px;
}

.user-box {
  padding: 0px 10px;
  margin: -2.5px 20px;
}

.user-box:hover {
  background-color: gray;
  border-radius: 10px;
}

.login-btn {
  background-color: tomato;
  border-radius: 20px;
}

.login-btn:hover {
  background-color: red;
  border-radius: 20px;
}
