html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {

  background-color: whitesmoke;
  color: black;

  font-family: Avenir-Roman, cursive;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}


@media only screen and (min-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}