html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-color: #002233;
  color: #000000;
  font-family: cursive;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}

.profile-img {
  /* border: 2px solid white; */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
  margin-top: 7px;
}

.user-box {
  padding: 0px 10px;
  margin: -2.5px 20px;
}

.user-box:hover {
  background-color: gray;
  border-radius: 10px;
}

.login-btn {
  background-color: red;
  border-radius: 20px;
}

.login-btn:hover {
  background-color: tomato;
  border-radius: 20px;
}

.logout-btn {
  background-color: red;
  border-radius: 20px;
  padding-left: 4px;
}

.logout-btn:hover {
  background-color: tomato;
  border-radius: 20px;
}

.main-footer {
  /* margin-top: 20px; */
  /* font-size: 15px; */
  border-radius: 0px 0px 0px 0px;
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: #130f40;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.strip {
  background-color: black;
  color: white;
  padding: 5px;
}

.main-footer li {
  list-style: none;
}
.main-footer h4 {
  font-weight: bold;
  text-decoration: underline;
}
.main-footer a {
  text-decoration: none;
  color: white;
}

.main-footer a:hover {
  text-decoration: none;
  color: yellow;
}

.block {
  /* background-color: lightgrey; */
  margin: 50px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  /* transform: rotate(5deg); */
}

.block-photo {
  /* background-color: purple; */
  border-radius: 20px;
  padding: 10px;
  margin: 0px 10px;
}
.block-description {
  /* background-color: pink; */
  justify-content: center;
  transform: translate(0, 50px);
}

.scroll-page img {
  border-radius: 50px;
}

.scroll-page li {
  margin-top: 5px;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./images/lower.svg");
}

.flip {
  transform: rotate(180deg);
}

.welcome-main pre {
  margin: -200px 0;
  color: white;
  text-align: center;
  font-size: 40px;
}

.welcome-main {
  background-color: #fa7268;
}
